.counter {
    width: 31.25rem;
    background-color: #eee;
    padding: 1.5625rem;
    display: flex;
    align-items: center;
}

.counter button {
    padding: 0.625rem 1.25rem;
    border: none;
    font-size: 1.25rem;
    text-align: center;
    margin: 0.625rem;
    background-color: #22222252;
    cursor: pointer;



}

.counter input {
    padding: 0.625rem 0.625rem;
    border: none;
    background-color: #03a4e4;
    font-size: 1.5625rem;
    width: 12.5rem;
}

.counter .decrement {
    background-color: #222222be;
}

.counter .decrement-off {
    opacity: 0.6;
    cursor: not-allowed;
}

.counter .total {
    font-size: 1.5625rem;
    color: red;
}