.counter {
    width: 500px;
    background-color: #eee;
    padding: 25px;
    display: flex;
    align-items: center;
}

.counter button {
    padding: 10px 20px;
    border: none;
    font-size: 20px;
    text-align: center;
    margin: 10px;
    background-color: #22222252;
    cursor: pointer;



}

.counter input {
    padding: 10px 10px;
    border: none;
    background-color: #03a4e4;
    font-size: 25px;
    width: 200px;
}

.counter .decrement {
    background-color: #222222be;
}

.counter .decrement-off {
    opacity: 0.6;
    cursor: not-allowed;
}

.counter .total {
    font-size: 25px;
    color: red;
}